.CardHover_Content{
    width: 320px;
    height:118px;
    padding: 17px 0px 0px 0px;
    gap: 16px;
    border-radius: 6px 0px 0px 0px;
    border: 1px 0px 0px 0px;
    border: 1px solid #E5E7EB;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 4px 0px #AEAEAE40;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
   
    

 }   
 .CardHover_Container{
    
    
width: 384px;
height: 182px;
top: -682px;
left: 463px;
padding: 32px 0px 0px 0px;
gap: 64px;
border-radius: 30px 0px 0px 0px;
opacity: 0px;

 }



    





